*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: $color-purple;
  background: $color-purple-light;
}

::selection {
  color: $color-purple;
  background: $color-purple-light;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
