*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: $color-purple;
  background: $color-purple-light;
}

::selection {
  color: $color-purple;
  background: $color-purple-light;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialisaed;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
